.information-complementaire {
    /* background: red; */
    /* background:  #fff; */

}

.fig-ic-primary {
    background: white;
}

.header-blue-section {
    /* background: green; */
}

.row-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    padding: 1.5em;
    color: #fff;
}

.row-legend h1 {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/* SECTION RANGE */

.section-article-range {
    /* background: green; */
    position: relative;
    margin: 0 2.5em;
    border-bottom: 1px solid silver;
}

.section-article-range picture {
    /* background: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.2em;
    /* align-items: first baseline; */
    padding: 2.5em;
}

.section-article-range picture {
    /* background: green; */
}

.modal-hr1,.modal-hr2{
    margin-top: -3em !important;
}
.section-article-range picture label {
    /* background: blue; */
    flex: 1;
    margin: 0 auto;
    text-align: center;
}

.hr {
    /* position: absolute; */
    /* bottom: 53%; */
    /* background: red; */
    width: 43%;
    /* padding: 1em; */
}

.section-article-range picture label.active h4 {
    font-weight: 600;
    color: #000;
    font-size: 1.1em;
}

.section-article-range picture label.active .active-h4 {
    font-weight: 700;
    color: #000;
    font-size: 1.1em;
}

.section-article-range picture label h4 {
    color: silver;
}

.section-article-range picture label.active p {
    background: #03A84E;
    color: white;
}

.section-article-range picture label p {
    font-size: 1.2em;
    width: 2em;
    margin: 0 auto;
    height: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    color: #fff;
    background: silver;
    margin-bottom: 1em;
}

.article-title {
    /* background: red; */
    padding: 3em 0;
}



/* SECTION FORM */
.ic-forme-section {
    margin-top: 2em;
}

/* SECTION TEXTAREA */
.fig-textarea {
    /* background: red; */
    padding: 0.8em 2.5em;
}

.picture-textarea label {
    /* background: green; */
    position: relative;
}

.picture-textarea label h3 {
    /* background: green; */
    font-weight: 700;
    position: absolute;
    background: #fff;
    margin-left: 1em;
    margin-top: -0.9em;
    padding-inline: 0.5em;
    font-size: 1.4em;
}

.picture-textarea label textarea {
    /* background: yellow; */
    width: 100%;
    /* height: 13em; */
    background: none;
    color: #6b6b6b;
    padding: 2em;
    border: 1px solid #58585673;
    font-family: 'poppins';
}

/* SECTION AUTRE DOCUMENT */

.head-apercu-autre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background: red; */
    padding: 2em 2.5em;
}

.col-autre-document {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title-doc {
    font-weight: 700;
    font-size: 1.4em;
}

.p-doc {
    color: #6b6b6b;
    font-size: 1em;
}

/* DROP AUTRE */

.drop-autre-document {
    /* border-bottom: 1px solid silver; */
    width: 100%;
}

.container-drop-autre {
    /* background: red; */
    margin: 1em 2.5em;
    border: 1px dashed #585856;
    padding: 4em 0;
    text-align: center;
}

.col-autre-drop {
    /* background: green; */
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.col-autre-drop button {
    text-wrap: wrap;
}

/* Accept condition */
.accept-conditions {
    border-top: 1px solid silver;
    margin: 3em 2.5em;
    padding: 3em 0;
    /* background: red; */
}

.check-ic {
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    /* font-size: 1.1em; */
}

.check-ic input {
    width: 1.1em;
    height: 1.1em;
}

/* BTN */
.button-ic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 2.5em;
    flex-wrap: wrap;
    align-items: center;
}

.row-btn-ic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.btn-green {
    background: #03A84E !important;
}

/* TABLE */
.table-ic {
    margin: 2em 2.5em;
    /* background: red; */
}

.table-doc-ic {
    /* background: rgba(0, 0, 0, 0.308); */
    /* border: 1px solid black; */
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 0 !important;
    /* background: green; */
}

.tr-ic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 0.5em;
    flex-wrap: wrap;
    outline: 1px solid #5858567e;

    /* background: green; */
    /* height: 5em; */
}



.row-th-p p {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    height: 100%;
    font-weight: 600;
    align-items: center;
}

.p-file-select-ic {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    height: 100%;
    /* background: red; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 30vw;
    width: 100%;
    font-weight: 500;
    align-items: center;
    color: #585856;
}

.th {
    border: 1px solid #585856;

    padding: 0.8em;
    text-wrap: nowrap;
    flex: 1 15em;
    height: 5em;
    align-items: center;
    /* background: green; */
}

.th:last-child {
    border-right: none !important;
}

.th-check {
    /* background: red; */
    flex: 0 5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.th-check input {
    width: 1.5em;
    height: 1.5em;
    accent-color: green;
}

.thead-ic {
    display: flex;
    flex-direction: column;
    gap: 1em;

}


.table-parent-ic {
    /* background: green !important; */
    overflow: auto;
    /* display: none !important; */
    width: 100% !important;

}

.table-parent-ic figure {
    /* background: red; */
    width: 100%;
}

.red {
    color: rgb(206, 22, 22);
}

.th-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex: 0 18em;

}

.th-row label {
    width: max-content !important;
    /* width: max-content !important; */
    /* background: red; */
}

.th-row label {
    cursor: pointer;
}

.th-row i {
    /* background: red; */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.th-row i:hover {
    scale: 1.05;
}

.inpt-child-div {
    /* background: red; */
    /* z-index: -20000; */
    position: relative;
}

.title-doc {
    font-weight: 700;
    padding: 0.5em 0;

}

.inpt-child {
    padding: 1em;
    width: 100%;
    outline: 1.3px solid #585856;
    background: none;
    border: none;
    border-radius: 0.5em;
}

.arrow-idown {
    position: absolute;
    right: 0;
    top: 30%;
    margin-right: 0.5em;
}

/* SElect pop */
.inpt-child-div {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 99999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.dropdown-item:hover {
    background: #f0f0f0;
}